:root {
    --clr-primary: #fcffd6;
    --clr-dark: #535349;
    --clr-accent: #ad410a ;
}

*, 
*::before,
*::after {
    margin: 0;
}

h1,
h2 {
    color: var(--clr-accent);
}

header {
    background-color: var(--clr-primary);
    padding: 75px 0;
}

.container {
    margin: 0 auto;
    padding: 5rem 0;
}

.text-center {
    text-align: center;
}

img {
    max-width: 100%;
}

.bg-color{
    color: var(--clr-primary);
    background-color: var(--clr-dark);
}

.bg-color1 {
    color: var(--clr-primary);
    background-color: var(--clr-accent);
}

.static {
    display: flex;
    flex-direction: column;
}

@media (min-width:40em) {
    .static {
        flex-direction: row;
        flex-basis: 100%;
    }
}

.accent {
    color: var(--clr-primary);
    background-color: var(--clr-accent);
}